td[data-type='euro'] {
    text-align: right;
}

td[data-type='euro']:after {
    content: '\20AC';
}

th[data-column='balance'] {
    text-align: right;
}


.form-group.vertical * {
    display: block;
    margin-bottom: 5px;
    width: 100%;
}