#header-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 125px;
    font: Helvetica, "Helvetica Neue", Arial;
    background-color: #F5F5F5;
    z-index: 100;
}

#header-container nav {
    float: left;
}

#header-container nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

a > i {
    cursor: default;
}

#header-container nav ul li {
    float: left;
    margin-left: 10px;
    padding-bottom: 0;
}

#header-container .header-lint {
    clear: both;
    width: 100%;
    height: 35px;
    vertical-align: middle;
    text-align: right;
    border-top: 2px solid slategray;
    border-bottom: 2px solid slategray;
    top: 90px;
    position: fixed;
    background-color: #D7D7D7;
}

#content-container {
    position: relative;
    top: 150px;
}

.wrapper {
    max-width: 700px;
    min-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.current_user_row {
    background-color: #D9EDFF;
}

#overlay {
    background-color: #3c3c3c;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.overlay-active {
    z-index: 101;
    opacity: 0.5 !important;
}

.form-focus > .form-horizontal {
    position: relative;
    z-index: 102;
    border-color: #CCCCCC;
}

.modal-body legend {
    padding: 20px;
}

input[readonly] {
    background-color: inherit !important;
    border: none !important;
    box-shadow: none !important;
    cursor: default !important;
    padding-left: 0 !important;
    height: inherit !important;
}

.form-horizontal {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
}

td > a {
    display: block;
    float: none;
}

.edit-group {
    display: inline-block;
    width: inherit;
}